body{
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    background-color: #ECEDEC;
}
.wirtebnr{
    margin: auto;
    max-width: 1170px;
}
#bnrvideo{        
    z-index: 99999;
    width: 50%;
    height: 10vh;
}
.container{
    max-width: 1170px;
}
.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.cusRadius{
    border-radius: .5cm;
}
.bgCus{
   background-color: #343a40;
}
.bgCus0{
    background-color: rgba(0, 0, 0, 0.7);
}

/* 筆的歷史 */
.bgCus_history1{
    background-color: #ECEDEC;
}
.bgCus_history2{
    background-color: #FFFFFF;
}
.bgCus_history3{
    background-color: #A8CFA3;
}
/* 筆芯種類 */
.bgCus_bisin{
    background-color: #CFB1BF;
}
/* 筆的品牌 */
.bgCus_brand{
    background-color: #B8CFDB;
}
.textlineheight{
    line-height: inherit;
}
.borstyle{
    border-width: 2px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    
}
.midd{
    text-align: center;        
}
img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;	
}
.introauto{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;	
}
@media screen and (min-width: 450px){
    #kinds #bisin p{
    font-size: 2em;
   
    }
}
@media screen and (max-width: 450px){
    #kinds #bisin p{
    font-size: 1.5em;
   
    }
}
